*{
    margin: 0;
    padding: 0;
}

body {
    font-family: helvetica, arial, 'hiragino kaku gothic pro', meiryo, 'ms pgothic', sans-serif;
    padding: 1em;
    background: #99a;
}

#content {
    background: white;
    margin: 1em auto ;
    padding: 2em;
    width: 800px;
}

ul {
    list-style: none;
    padding-top: 1em;
}
h1 {
    padding-bottom: 0.5em;
}
h2 {
    padding-top: 1em;
}
hr {
    margin: 2em 0;
    border: 0 none;
    background: url('../images/line.png');
    height: 9px;
}

@media (max-width: 800px) {
    #content {
        width: auto;
        margin: 1em ;
        padding: 2em;
    }
}