*{
    margin: 0;
    padding: 0;
}

body {
    font-family: helvetica, arial, 'hiragino kaku gothic pro', meiryo, 'ms pgothic', sans-serif;
    padding: 1em;
    background: #99a;
}

#content {
    background: white;
    margin: 1em auto ;
    padding: 2em;
    width: 800px;
}

ul {
    list-style: none;
    padding-top: 1em;
}
h1 {
    padding-bottom: 0.5em;
    text-align: center;
}

h2 {
    padding-top: 1em;
    padding-bottom: 0.3em;
    margin-bottom: 0.3em;
    border-bottom : 1px solid black;
}

a {
    color: #833;
}

a:hover {
    color: #e88;
}

ul {
    list-style-type: square;
    margin-left: 1.5em;
    margin-bottom: 1.5em;
}

li {
    margin-top: 0.3em;
}

ul li ul {
    list-style-type: circle;
    margin-left: 1.5em;
    margin-top: 0;
    margin-bottom: 1em;
}

li ul li{
    margin-top: -0.3em;
}

@media (max-width: 800px) {
    #content {
        width: auto;
        margin: 1em ;
        padding: 2em;
    }
}